rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Default Deny
    match /{allPaths=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null && request.auth.uid != null;
    }

    // Workers documents & photos isolation
    // Path: workers/{candidateId}/{folder}/{fileName}
    match /workers/{candidateId}/{folder}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
                   && request.resource.size < 15 * 1024 * 1024 // Max 15MB
                   && (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('application/pdf'));
      allow delete: if isSignedIn();
    }
  }
}
